Backup
Server_Files/logs
Server_Files/screenlog.0
Server_Files/cache
Server_Files/.console_history
Server_Files/usercache.json
Server_Files/world/*
Server_Files/world_nether/*
Server_Files/world_the_end/*

password.txt
